<div class="grid py-6">
    <app-note *ngFor="let note of notes" [note]="note"></app-note>

    <div class="card" *ngIf="newNote">
        <header class="card-header">
            <p class="card-header-title" contenteditable="true">Title comes here</p>
        </header>

        <div class="card-content">
            <p class="content" contenteditable="true">
                Contents of the note comes here. Click the button on the left below to save the note.
            </p>
        </div>
        <footer class="card-footer">
            <button class="card-footer-item button is-white has-text-success has-text-right">
                <i class="fa-solid fa-check"></i>
            </button>
            <button class="card-footer-item button is-white has-text-danger has-text-right" (click)="discardNote()">
                <i class="fa-solid fa-trash"></i>
            </button>
        </footer>
    </div>

    <div class="is-flex is-justify-content-center is-align-items-center">
        <button class="button is-dark is-large add-button" (click)="addNote()">
            <span class="icon is-large">
                <i class="fas fa-plus fa-3x"></i>
            </span>
        </button>
    </div>
</div>