<div class="card">
    <header class="card-header">
        <p class="card-header-title">{{ note.title }}</p>
    </header>

    <div class="card-content">
        <p class="content" [innerHTML]="note.content"></p>
    </div>
    <footer class="card-footer">
        <!--<button class="card-footer-item button is-white has-text-success has-text-right" (click)="updateNote(note.noteId)">
            <i class="fa-solid fa-check"></i>
        </button>-->
        <button class="card-footer-item button is-white has-text-danger has-text-right" [ngClass]="{'is-loading': isLoading == true}" (click)="deleteNote(note.noteId)" title="Delete Note">
            <i class="fa-solid fa-trash"></i>
        </button>
    </footer>
</div>