<div class="card">
    <header class="card-header">
        <p class="card-header-title" contenteditable="true">{{ note.title }}</p>
    </header>

    <div class="card-content">
        <p class="content" contenteditable="true" [innerHTML]="note.content"></p>
    </div>
    <footer class="card-footer">
        <!--<button class="card-footer-item button is-white has-text-success has-text-right" (click)="deleteNote(note.noteId)">
            <i class="fa-solid fa-check"></i>
        </button>-->
        <button class="card-footer-item button is-white has-text-danger has-text-right" (click)="deleteNote(note.noteId)">
            <i class="fa-solid fa-trash"></i>
        </button>
    </footer>
</div>