<div class="card">
    <header class="card-header">
        <p class="card-header-title" contenteditable="true">Title comes here</p>
    </header>

    <div class="card-content">
        <p class="content" contenteditable="true">
            Enter the content here. The app will autosave when clicking outside the note.
        </p>
    </div>
    <footer class="card-footer">
        <button class="card-footer-item button is-ghost has-text-danger has-text-right" (click)="deleteNote()">
            <i class="fa-solid fa-trash"></i>
        </button>
    </footer>
</div>